html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  @include media-breakpoint-only('sm') {
    font-size: 18px;
  }
  @include media-breakpoint-only('md') {
    font-size: 20px;
  }
  @include media-breakpoint-only('lg') {
    font-size: 22px;
  }
  @include media-breakpoint-up('xl') {
    font-size: 24px;
  }
}

body {
  display: flex;
  flex-direction: column;

  &.page-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url("../images/4.jpg");
  }

  & > footer {
    padding-top: 2vh;
    padding-bottom: 6vh;
    flex: 0 0 auto;
    background-color: $body-bg;

    @include media-breakpoint-only('sm') {
      padding-bottom: 8vh;
    }
    @include media-breakpoint-only('md') {
      padding-bottom: 10vh;
    }
    @include media-breakpoint-only('lg') {
      padding-bottom: 12vh;
    }
    @include media-breakpoint-up('xl') {
      padding-bottom: 14vh;
    }
  }
}

.fixed-element {
  padding-top: 5vh;
  padding-bottom: 6vh;
  background-color: $body-bg;

  @include media-breakpoint-only('sm') {
    padding-top: 6vh;
    padding-bottom: 8vh;
  }
  @include media-breakpoint-only('md') {
    padding-top: 8vh;
    padding-bottom: 10vh;
  }
  @include media-breakpoint-only('lg') {
    padding-top: 10vh;
    padding-bottom: 12vh;
  }
  @include media-breakpoint-up('xl') {
    padding-top: 12vh;
    padding-bottom: 14vh;
  }

  &.fixed-element-main {
    display: flex;
    align-items: center;
    min-height: 100%;
    background-color: transparent;
    padding-top: 10vh;

    @include media-breakpoint-only('sm') {
      padding-top: 12vh;
    }
    @include media-breakpoint-only('md') {
      padding-top: 14vh;
    }
    @include media-breakpoint-only('lg') {
      padding-top: 16vh;
    }
    @include media-breakpoint-up('xl') {
      padding-top: 18vh;
    }
  }

  &.fixed-element-light {
    background-color: $body-bg-light;
  }
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 4vh;

  @include media-breakpoint-only('sm') {
    margin-bottom: 5vh;
  }
  @include media-breakpoint-only('md') {
    margin-bottom: 6vh;
  }
  @include media-breakpoint-only('lg') {
    margin-bottom: 7vh;
  }
  @include media-breakpoint-up('xl') {
    margin-bottom: 8vh;
  }
}