
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s ease;
  z-index: 2;

  @include media-breakpoint-between('sm', 'md') {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @include media-breakpoint-up('lg') {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.scroll {
    background-color: $body-bg-light;

    .nav {
      a {
        color: $body-color;
      }
    }
  }
}

.nav {
  display: flex;

  a {
    text-decoration: none;
    white-space: nowrap;
    color: #a5a69f;
  }

  .nav-logo {
    margin-right: 20px;
  }

  .nav-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    & > a {
      font-size: 0.8em;
      margin-left: 10px;

      @include media-breakpoint-only('sm') {
        margin-left: 15px;
      }
      @include media-breakpoint-only('md') {
        margin-left: 20px;
      }
      @include media-breakpoint-only('lg') {
        margin-left: 25px;
      }
      @include media-breakpoint-up('xl') {
        margin-left: 30px;
      }
    }
  }
}
