.main-title {
  display: flex;
  justify-content: flex-end;

  > div {
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
    flex-basis: 80%;

    @include media-breakpoint-only('sm') {
      flex-basis: 70%;
      font-size: 2.2rem;
    }
    @include media-breakpoint-only('md') {
      flex-basis: 60%;
      font-size: 2.3rem;
    }
    @include media-breakpoint-only('lg') {
      flex-basis: 60%;
      font-size: 2.7rem;
    }
    @include media-breakpoint-up('xl') {
      flex-basis: 60%;
      font-size: 3rem;
    }
  }
}

.apartment-hunting {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up('sm') {
    flex-direction: row;
    justify-content: space-around;
  }

  img {
    height: 150px;
    width: 150px;

    @include media-breakpoint-only('sm') {
      height: 150px;
      width: 150px;
      margin-right: 30px;
    }
    @include media-breakpoint-only('md') {
      height: 220px;
      width: 220px;
      margin-right: 90px;
    }
    @include media-breakpoint-only('lg') {
      height: 300px;
      width: 300px;
      margin-right: 105px;
    }
    @include media-breakpoint-up('xl') {
      height: 350px;
      width: 350px;
      margin-right: 120px;
    }
  }

  .hunting-information {
    text-align: center;

    @include media-breakpoint-only('xs') {
      margin-top: 15px;
    }
  }
}

.our-guarantees-title {
  text-align: center;
}

.our-guarantees {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .our-guaranty {
    margin-bottom: 5vh;
    text-align: center;
    flex-basis: 100%;
    min-width: 100%;

    @include media-breakpoint-only('sm') {
      flex-basis: 48%;
      min-width: 48%;
      padding: 10px;
      margin-bottom: 6vh;
    }
    @include media-breakpoint-up('md') {
      flex-basis: 32%;
      min-width: 32%;
      padding: 15px;
    }
    @include media-breakpoint-only('md') {
      margin-bottom: 8vh;
    }
    @include media-breakpoint-only('lg') {
      margin-bottom: 10vh;
    }
    @include media-breakpoint-up('xl') {
      margin-bottom: 12vh;
    }

    img {
      width: 30px;

      @include media-breakpoint-only('sm') {
        width: 35px;
      }
      @include media-breakpoint-between('md', 'lg') {
        width: 40px;
      }
      @include media-breakpoint-up('xl') {
        width: 45px;
      }
    }

    h3 {
      margin: 0;
      font-size: 1rem;
      margin-bottom: 2vh;
    }

    > div {
      font-size: .8rem;
    }
  }
}
