html,
body {
  height: 100%;
}
.container {
  height: 100%;
}
.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: #eeeeee;
}

.scroll {
  background-color: #ffe0f6;
  padding: 10px 70px;
  color: #666666;
}

.text {
  text-align: right;
  font-family: 'Sonny', sans-serif;
  font-weight: 600;
  padding-top: 200px;
  font-size: 72px;
  width: 50%;
  color: #927979;
}

.one {
  background-image: url("../images/4.jpg")
}
.two {
  background-image: url("../images/3.jpg")
}
.three {
  background-image: url("../images/4.jpg")
}