html,
body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;

  &.page-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url("../images/4.jpg");
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar {
  display: flex;
  position: fixed;
  flex-grow: 2;
  transition: background-color 0.3s ease;
  font-size: 15px;
  width: 100%;
  padding: 15px;
  z-index: 2;

  @media (min-width: 767px) {
    padding: 10px;
    font-size: 24px;
  }

  @media (min-width: 1300px) {
    padding: 20px;
    font-size: 24px;
  }

  &.scroll {
    background-color: #fff9f4;

    a {
      color: #927979;
    }
  }

  a {
    text-decoration: none;
    white-space: nowrap;
    color: #a5a69f;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.fixed-element {
  padding-top: 8vh;
  padding-bottom: 10vh;

  &.one {
    display: flex;
    min-height: 100%;
    align-items: center;
  }

  &.two {
    background-color: #fff9f4;
  }

  &.three {
    background-color: #ebebeb;
  }
}

.main-title {
  display: flex;
  justify-content: flex-end;

  > div {
    color: #927979;
    padding: 20px;
    flex-basis: 60%;
    font-size: 42px;

    @media (min-width: 1300px) {
      flex-basis: 43%;
      font-size: 72px;
    }
  }
}

.apartment-hunting {
  display: flex;
  flex-direction: column;
  align-items: center;

  //padding: 30px;
  //
  //@media (min-width: 767px) {
  //  padding: 60px;
  //}
  //
  //@media (min-width: 1300px) {
  //  padding: 60px;
  //}

  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: space-around;
  }

  img {
    height: 150px;
    width: 150px;

    @media (min-width: 767px) and (max-width: 1299px) {
      height: 350px;
      width: 350px;
    }

    @media (min-width: 1300px) {
      height: 450px;
      width: 450px;
    }
  }

  .hunting-information {
    color: #927979;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;

    @media (min-width: 767px) and (max-width: 1299px) {
      margin-top: 30px;
    }

    @media (min-width: 1300px) {
      flex-basis: 50%;
      font-size: 36px;
    }
  }
}

.our-guarantees {
  .our-guarantees-title {
    color: #927979;
    text-align: center;
    font-size: 28px;

    @media (min-width: 1300px) {
      //padding: 10px;
      font-size: 42px;
    }
  }


  .our-guarantees-icons {
    display: flex;
    color: #927979;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;

    .icon {
      flex-basis: 33%;
      padding: 40px;

      img {
        width: 45px;
      }

      h3 {
        margin: 0;
      }
    }
  }
}

.booking-container {
  background-color: #ebebeb;

  //@media (min-width: 767px) {
  //  min-height: 100%;
  //}

  @media (min-width: 767px) {
    margin-top: 20px;
  }

  .header {
    text-align: center;
    color: #927979;
    margin-bottom: 10vh;
    font-weight: 400;

    @media (min-width: 767px) {
      font-size: 40px;
    }
  }

  .offers {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    //min-height: 100%;
    justify-content: space-evenly;

    .offer {
      display: flex;
      flex-direction: column;
      text-align: center;

      &:hover {
        cursor: pointer;
      }

      @media (min-width: 767px) {
        justify-content: space-evenly;
        flex-basis: 50%;
        margin-bottom: 50px;
      }

      @media (min-width: 1300px) {
        flex-basis: 30%;
      }

      .text {
        color: #927979;
        align-self: center;

        @media (min-width: 767px) {
          margin-top: 15px;
          font-size: 15px;
        }

        @media (min-width: 1300px) {
          margin-top: 10px;
          font-size: 20px;
        }
      }

      img {
        align-self: center;
        transform: scale(1);
        transition: .2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }

        @media (min-width: 767px) {
          height: 300px;
          width: 300px;
        }

        @media (min-width: 1300px) {
          height: 300px;
          width: 300px;
        }
      }
    }
  }
}

.contact-container {
  @media (min-width: 767px) {
    padding-top: 20px;
  }

  .header {
    text-align: center;
    color: #927979;

    @media (min-width: 767px) {
      font-size: 25px;
    }

    @media (min-width: 1300px) {
      font-size: 25px;
    }

    h2 {
      margin: 10px;
      font-weight: 400;
    }

    h3 {
      margin: 0;
      font-weight: 400;
    }
  }

  .contact-form {
    margin-top: 30px;

    .message-form {
      width: 100%;

      @media (min-width: 767px) {
        width: 650px;
        margin: 0 auto;
      }

      @media (min-width: 1300px) {
        width: 500px;
        margin: 0 auto;
      }

      .message {
        background-color: floralwhite;
        border: solid 2px #b78e7d7d;
        border-radius: 10px;
        font-family: 'Crimson Text', serif;
        width: 100%;
        resize: vertical;
        margin-bottom: 10px;
        padding: 6px 12px;

        @media (min-width: 1300px) {
          font-size: 20px;
        }

        &:focus {
          outline: none;
          border: solid 2px rgb(156, 122, 106);
        }
      }

      .email {
        background-color: floralwhite;
        border: solid 2px #b78e7d7d;
        border-radius: 10px;
        font-family: 'Crimson Text', serif;
        width: 100%;
        margin-bottom: 10px;
        padding: 6px 12px;

        @media (min-width: 1300px) {
          font-size: 20px;
        }

        &:focus {
          outline: none;
          border: solid 2px rgb(156, 122, 106);
        }
      }

      .form-button {
        text-align: center;
      }

      .submit-button {
        font-family: 'Crimson Text', serif;
        border-color: #b78e7d7d;
        border-radius: 5px;
        color: #785e53;

        @media (min-width: 1300px) {
          font-size: 15px;
        }
      }
    }

  }
}

footer {
  color: #927979;
  background-color: #ebebeb;
  padding-bottom: 8vh;
  flex: 0 0 auto;
  text-align: center;
}