html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Crimson Text', serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.container {
  height: 100%;
}

.fixed-element {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100%;
  color: #eeeeee;
}

.content {
  display: flex;

  &.first {
    justify-content: flex-end;
    min-height: 600px;

    .text {
      color: #927979;
      font-size: 72px;
      flex-basis: 43%;
      align-self: center;
    }
  }

  &.second {
    justify-content: space-around;
    align-items: center;
    padding: 40px;

    .text {
      color: #927979;
      flex-basis: 50%;
      font-size: 36px;
    }

    img {
      height: 450px;
      width: 450px;
    }
  }

  &.third {
    flex-direction: column;
    padding: 40px;

    .text {
      padding: 10px;
      align-self: center;
      font-size: 42px;
      color: #927979;
    }
  }
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 20px;
  font-size: 24px;
  flex-grow: 2;
  transition: background-color 0.3s ease;

  &.scroll {
    background-color: #fff9f4;

    a {
      color: #927979;
    }
  }

  a {
    text-decoration: none;
    white-space: nowrap;
    color: #a5a69f;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.one {
  background-color: #a5a69f;
  background-image: url("../images/4.jpg");
}
.two {
  background-color: #fff9f4;
}

.three {
  background-color: #ebebeb;
}

.icons {
  display: flex;
  color: #927979;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;

  .icon {
    flex-basis: 33%;
    padding: 20px;

    img {
      width: 45px;
    }

    h3 {
      margin: 0;
    }
  }
}

footer {
  color: black;
  background-color: #ebebeb;
  padding-bottom: 8vh;
  flex: 0 0 auto;
  text-align: center;
}